@import "../../Theme/Theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

.footerContainer {
  display: grid;
  grid-template-columns: 25% 20% 40% 15%;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;

   h1 {
     font-family: 'Odibee Sans', 'Arial';
     font-size: 38px;
     letter-spacing: 4px;
   }

   p {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 16px;
     margin-top: 31.54px;
   }

   img {
     margin-top: 31.54px;
     margin-right: 20px;
   }
}